html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

@font-face {
	font-family: "Orbitron";
	src: url('./fonts/Orbitron.ttf');
	font-weight: normal;
	font-style: normal;
  }
	
  @font-face {
	font-family: "PathwayExtreme";
	src: url('./fonts/PathwayExtreme.ttf');
	font-weight: normal;
	font-style: normal;
  }